body{
    overflow-x: hidden;  
  
  }
  .header{
      display: flex;
      justify-content: center;
      width: 100vw;
      height: 17vh;
      padding-left: 6vh;
      padding-right: 6vh;
  }
  .head{
      width: 90vw;
      display: flex;
      justify-content: space-between;
  }
  
  .profile{
      display: flex;
      height: 17vh;
      align-items: center;
  }
  .name{
      margin-left: 3vh;
  }
  .mid{
      font-size: 100%;
  }
  .contact{
      display: flex;
  }
  p{
      display: flex;
      align-items: center;
      font-size: 120%;
      margin-left: 20px;
  }
  .container{
      width: 100vw;
      height: 100vh;
      margin: 0 !important;
      padding: 0 !important;
  }
  
  
  .main{
      width: 100vw;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .b1{
      background-color: #E8DCCC;
      width: 50vw;
      height: 80vh;
  }
  .b2{
      background-color: antiquewhite;
      width: 50vw;
      height: 80vh;
  }
  .b3{
      position: absolute;
      background-color: rgb(255, 255, 255);
      width: 40vw;
      height: 60vh;
      display: flex;
      border-radius: 30px;
  }
  .foto{
      background-color: #f8ece4;
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
  }
  .info{
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 2vh;
  }
  #me{
      border-radius: 600px;
      width: 12vw;
      height: 25vh;
      margin-bottom: 2ch;
      margin-top: 3vh;
  }
  hr{
      border: solid 3px black;
      width: 10vw;
  }
  .g1{
      font-weight: bold;
      font-size: 6rem;
  }
  .g2{
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: 110%;
  }
  .buttons{
      margin: 2vh 0;
      padding-left: 0;
      display: flex;
  }
  input{
      width: 6vw;
      height: 5vh;
      border-radius: 20px;
  }
  .desc{
      padding: 0;
      margin: 0;
  }
  #progetti{
      background-color: #2525ff;
      color: white;
      margin-right: 1.5vh;
  }
  .social{
      display: flex;
      justify-content: space-around;
  
      height: 100%;
      display: flex;
      align-items: end;
      padding: 3vh 0;
  }
  .s{
      width: 30px;
      height: 30px;
      margin-left: 20px;
      
  }
  
  
  
  .skills{
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 80vh;
  }
  .tt{
      margin-top: 5vh;
  }
  .skillCont{
      margin-top: 5vh;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 5vh;
  }
  .sk{
      width: 45vw;
      height: 50vh;
      background-color: #E8DCCC;
      border-radius: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2vh;
  }
  .g{
      background-color: #f8ece4;
  }